/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    /* color: #F8FBFF; */
}

/* VARIABLE CSS */
:root{
    /* background colors */
    --bg-color-1: #a4bad6;
    --bg-color-2: #e8eef5;
    --bg-color-3: #dde8f7;
    --bg-color-4: #c3d2e4;
    --bg-color-5: #f2f6fb;
    --bg-dropdown: #F4FAFF; /*#f2f2f8*/

    /* font colors */
    --color-1: #143a6a;
    --color-2: #011D31;
    --color-3: #7798c1; /*hover navbar*/ /*#a4bad6*/
    --color-4: #F8FBFF;
    --color-5: #323841;

    --color-gradient-black-1: rgba(0, 0, 0, 0.8);
    --color-gradient-black-2: rgba(0, 0, 0, 0.6);
    --color-gradient-black-3: rgba(0, 0, 0, 0.4);
    --color-gradient-black-4: rgba(0, 0, 0, 0.2);

    --color-gradient-white-1: rgba(255, 255, 255, 0.9);
    --color-gradient-white-2: rgba(255, 255, 255, 0.8);

    /* Button colors */
    --btn-color-1: #3677b0;
    --btn-color-2: #3c84c4;
    --btn-color-3:  #46406c;
    --btn-color-4: #667d9a;
    
    /* Button hover */
    --link-color-1: #19a6f3;
    --link-color-2: #0767a2;

    /* Border colors */
    --border-color-1: #7c7e80;

    /* Fonts Bold */
    --bold-1: 300;
    --bold-2: 400;
    --bold-3: 600;
    --bold-4: 900; 
}

body{
    background-color: var(--bg-color-2);
}

body::-webkit-scrollbar{
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.btn-primary,
.btn-primary:visited {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-primary:hover,
.btn-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-2) !important;
    border-color: var(--btn-color-2) !important;
}
.btn-outline-primary,
.btn-outline-primary:visited {
    color: var(--color-1) !important;
    border-color: var(--btn-color-1) !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active {
    color: var(--color-4) !important;
    background-color: var(--btn-color-1) !important;
}

/* Header Section */
.header {
    position: relative;
    justify-content: center;
    text-align: center;
}
.logo {
    width: 100px;
    background-color: #A4BAD6;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
}
.title-container {
    margin-top: 24px;
}
.title {
    font-size: 48px;
}
.title-underline-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.title-underline {
    width: 100%;
    height: 3px;
    background-color: var(--color-gradient-black-2);
    width: 360px;
    border-radius: 100px;
}
.subtitle-container {
    display: flex;
    justify-content: center;
}
.subtitle {
    font-size: 24px;
    font-weight: 550;
    width: 90%;
}
/* End Header Section */

/* Profile Section */
.profile-section {
    display: block;
    width: 100%;
    padding: 4rem 0;
}
.profile-container {
    margin-left: 4rem;
    width: 300px;
    /* background-color: #0001; */
}
.profile-title-container {
    margin-bottom: 15px;
}
.profile-title {
    font-size: 16pt;
}
.profile-title-underline-container {
    display: flex;
    width: 100%;
    margin-top: 2px;
}
.profile-title-underline {
    width: 60px;
    height: 2px;
    background-color: var(--color-gradient-black-2);
}
.profile-input-container {
    display: flex;
    flex-direction: column;
}
.profile-input-container input {
    margin-bottom: 5px;
    font-size: 11pt;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--color-gradient-black-3);
    box-shadow: 0 0 1.8px 0.8px rgba(0, 0, 0, 0.164);
    color: var(--color-2);
    outline: none;
    background-color: var(--color-4);
    font-weight: 550;
}
.profile-input-container input:hover {
    border: 2px solid var(--color-gradient-black-3);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.247);
    
}
/* End Profile Section */

/* Main Section */
.disclaimer-container {
    display: block;
    width: 100%;
}
.disclaimer-section {
    margin-left: 4rem;
    margin-bottom: 2rem;
    width: 90%;
}
.tts-disclaimer {
    font-size: 16pt;
    font-weight: var(--bold-3);
}
.disclaimer-underline-container {
    display: flex;
    width: 100%;
    margin-top: 2px;
}
.disclaimer-underline {
    width: 100px;
    height: 2px;
    background-color: var(--color-gradient-black-2);
}
.tts-wrapper {
    display: flex;
    justify-content: center;
}
.tts-container {
    width: 90%;
    overflow-x: auto;
}
.tts-table {
    border-collapse: collapse;
    /* display: flex;
    justify-content: center; */
}
.tts-table tr {
    width: calc(40px * 27);
}
/* .tts-table tr td {
    background-color: var(--color-4);
} */
.tts-table tr td input {
    width: 40px;
    height: 40px;
    outline: none;
    text-align: center;
    font-size: 16pt;
    text-transform: capitalize;
    font-weight: var(--bold-3);
    color: var(--color-5);
    border: none;
    border: 1px solid var(--color-gradient-black-2);
    visibility: hidden;
    background-color: #a4bad66c;
}
.visible-tts-input {
    visibility: visible !important;
}
.main-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.send-btn,
.clear-btn {
    background-color: var(--btn-color-4);
    font-size: 12pt;
    padding: 5px 0;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    border: 1px solid var(--color-gradient-black-4);
    color: var(--color-4);
    margin: 0 2rem;
    cursor: pointer;
    transition: 0.1s;
}
.send-btn:hover, 
.clear-btn:hover {
    background-color: var(--color-3);
}
/* End Main Section */

/* Question Section */
.question-section {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-wrapper {
    width: 90%;
    /* background-color: #0001; */
}
.question-title-container {
    margin-bottom: 1rem;
}
.question-title {
    font-size: 22pt;
}
.question-title-underline {
    width: 100%;
    height: 2px;
    background-color: var(--color-gradient-black-3);
    margin-top: 8px;
}
.hq-container,
.vq-container {
    margin-bottom: 1.5rem;
}
.hq-text,
.vq-text {
    font-size: 14pt;
    font-weight: 500;
    padding-bottom: 2px;
}
/* End Question Section */

/* Score Section */
.score-section {
    padding: 4rem 0;
}
.score-title-wrapper {
    margin-bottom: 2rem;
}
.score-title {
    font-size: 16pt;
    width: 100%;
    text-align: center;
}
.score-title-underline-container {
    display: flex;
    justify-content: center;
}
.score-title-underline {
    width: 120px;
    height: 2px;
    background-color: var(--color-gradient-black-2);
    margin-top: 2px;
}
.score-table-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-table-container {
    width: 90%;
    max-width: 800px;
    background-color: #0001;
}
.score-table {
    width: 100%;
    border-collapse: collapse;
}
.score-table tr th,
.score-table tr td {
    border: 2px solid var(--color-gradient-black-4);
}
.score-table-head {
    text-align: center;
    width: calc(100% / 3);
    padding: 8px 0;
    background-color: var(--bg-color-4);
    font-size: 12pt;
}
.score-table-data {
    text-align: center;
    padding: 12px 0;
    background-color: var(--bg-color-5);
    font-weight: 500;
    font-size: 12pt;
}
.reset-btn-container {
    margin-top: 4rem;
}
.reset-btn {
    border: none;
    border: 0.1px solid var(--color-gradient-black-3);
    padding: 8px 0;
    width: 200px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 550;
    box-shadow: 0 0 1.8px 0.5px rgba(0, 0, 0, 0.158);
    cursor: pointer;
    transition: 0.2s;
}
.reset-btn:hover {
    background-color: var(--bg-color-2);
    /* color: var(--color-4); */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.247);
    transform: scale(1);
}
/* End Score Section */

/* Site Link Section */
.site-link-section {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.site-link {
    color: var(--color-gradient-black-2);
    font-weight: 800;
    font-size: 10pt;
}
/* End Site Link Section */

/* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color-1);
    padding: 1rem 0;
}
.footer-text {
    font-weight: 700;
}
.footer-text-1 {
    color: var(--color-5);
}
.footer-text-link {
    color: var(--color-4);
}
/* End Footer */

/* Additional */
.hidden {
    display: none !important;
}
/* End Additional */

/* Media Query */
@media screen and (max-width: 1920px) {
    .tts-table {
        border-collapse: collapse;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 1024px) {
    .logo {
        width: 80px;
        padding: 30px 20px;
    }
    .title {
        font-size: 32px;
    }
    .title-underline {
        width: 220px;
    }
    .subtitle {
        font-size: 18px;
    }
    .profile-title,
    .tts-disclaimer {
        font-size: 14pt;
    }
    .profile-title-underline {
        width: 50px;
    }
    .profile-input-container input {
        margin-bottom: 6px;
        font-size: 10pt;
    }
    .tts-container {
        width: 90%;
        overflow-x: auto;
    }
    .tts-table {
        border-collapse: collapse;
        display: flex;
        justify-content: left;
    }
    .tts-table tr td input {
        width: 32px;
        height: 32px;
        font-size: 14pt;
    }
    .send-btn,
    .clear-btn {
        font-size: 10pt;
        width: 120px;
    }
    .question-title {
        font-size: 18pt;
    }
    .hq-text,
    .vq-text {
        font-size: 12pt;
        padding-bottom: 2px;
    }
    .score-title {
        font-size: 14pt;
    }
    .score-table-head {
        padding: 8px 0;
        font-size: 10pt;
    }
    .score-table-data {
        font-size: 10pt;
    }
    .reset-btn {
        font-size: 8pt;
        padding: 8px 0;
        width: 180px;
    }
    .footer-text {
        font-size: 10pt;
    }
}
@media screen and (max-width: 768px) {
    .logo {
        width: 50px;
        padding: 25px 20px;
        border-radius: 0 0 40px 40px;
    }
    .title {
        font-size: 24px;
    }
    .title-underline {
        width: 180px;
    }
    .subtitle {
        font-size: 16px;
    }
    .profile-container {
        margin-left: 2rem;
        width: 200px;
    }
    .profile-title {
        font-size: 12pt;
    }
    .profile-title-underline {
        width: 50px;
    }
    .profile-input-container input {
        font-size: 7pt;
    }
    .disclaimer-section {
        margin-left: 2rem;
    }
    .disclaimer-underline {
        width: 100px;
    }
    .tts-container {
        width: 90%;
        overflow-x: auto;
    }
    .tts-table tr td input {
        width: 24px;
        height: 24px;
        font-size: 10pt;
    }
    .send-btn,
    .clear-btn {
        font-size: 8pt;
        width: 100px;
    }
    .question-title {
        font-size: 14pt;
    }
    .hq-text,
    .vq-text {
        font-size: 10pt;
        padding-bottom: 2px;
    }
    .score-title {
        font-size: 12pt;
    }
    .score-table-head {
        padding: 8px 0;
        font-size: 8pt;
    }
    .score-table-data {
        font-size: 8pt;
    }
    .reset-btn {
        font-size: 7pt;
        padding: 8px 0;
        width: 150px;
    }
    /* .footer-text {
        font-size: 10pt;
    } */
}
@media screen and (max-width: 576px) {
    .logo {
        width: 45px;
        padding: 20px 15px;
        border-radius: 0 0 30px 30px;
    }
    .title {
        font-size: 20px;
    }
    .title-underline {
        width: 150px;
        height: 2px;
    }
    .subtitle {
        font-size: 12px;
    }
    .profile-container {
        margin-left: 1rem;
        width: 160px;
    }
    .profile-title {
        font-size: 11pt;
    }
    .profile-title-underline {
        width: 50px;
    }
    .profile-input-container input {
        font-size: 7pt;
        padding: 6px 14px;
    }
    .disclaimer-section {
        margin-left: 1rem;
    }
    .tts-disclaimer {
        font-size: 10pt;
    }
    .tts-table tr td input {
        width: 20px;
        height: 20px;
        font-size: 10pt;
    }
    .send-btn,
    .clear-btn {
        font-size: 7pt;
        width: 100px;
    }
    .question-wrapper {
        width: 95%;
    }
    .question-title {
        font-size: 13pt;
    }
    .hq-text,
    .vq-text {
        font-size: 9pt;
        padding-bottom: 2px;
    }
    .score-title {
        font-size: 11pt;
    }
    .score-title-underline {
        width: 100px;
    }
    .score-table-head {
        padding: 8px 0;
        font-size: 8pt;
    }
    .score-table-data {
        font-size: 8pt;
    }
    .reset-btn {
        font-size: 7pt;
        padding: 8px 0;
        width: 150px;
    }
    .site-link {
        font-size: 8pt;
    }
    /* .footer-text {
        font-size: 10pt;
    } */
}
@media screen and (max-width: 420px) {
    .tts-disclaimer {
        font-size: 8pt;
    }
}